<a href="https://colab.research.google.com/github/shreevigneshwari/projects/blob/main/unifiedmentorsassignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: print what is your name next line shree

print('My name is:')
print('Shree')

My name is:
Shree

In [ ]:
mukesh = 7
z = 6
rohan = 5
longitude = 4
# print required variable
# output - 5
rohan

5

In [ ]:
 #declare 4 variables with values as:
 ur_age = 21
 ur_weight = 50.6
ur_first_name = "Mukesh"
ur_last_name = "Manral"

In [ ]:
# print type of ur_age,ur_weight,ur_first_name,ur_last_name variables
type(ur_age)

int

In [ ]:
type(ur_weight)

float

In [ ]:
type(ur_first_name)

str

In [ ]:
type(ur_last_name)

str

In [ ]:
 #print values of ur_age,ur_weight,ur_first_name,ur_last_name variables
ur_age

21

In [ ]:
ur_weight

50.6

In [ ]:
ur_first_name

'Mukesh'

In [ ]:
ur_last_name

'Manral'

In [ ]:
# define a variable name "x" and assign value 777 and print it
x = 777
print(x)

777

In [ ]:
# Initialize variables [x,y,z,zz] with values
x = 7
y = 77
z = 77.7
zz ="Hi"

In [ ]:
x + z # add x and z

84.7

In [ ]:
# subtract z and y
z - y

0.7000000000000028

In [ ]:
# Multiply x and z

x * z

543.9

In [ ]:
# Exponent (raise the power or times) x times z
x ** z

4.614426248242042e+65

In [ ]:
# division on x and z
x / z

0.09009009009009009

In [ ]:
# floor division(ignores decimal) on x and z (gives quotient)
int (x / z)

0

In [ ]:
# Modulo(gives remainder) on x and z
x % z

7.0

In [ ]:
# comapre and see if x is less then z
# can use '<' symbol
x < z

True

In [ ]:
# compare and see if x is less then or equall to z
# can use '<=' symbol
x <= z

True

In [ ]:
# comapre and see if x equall to z
# can use '==' symbol
x == z

False

In [ ]:
# comapre and see if x is greater than or equall to z
# can use '>=' symbol
x >= z

False

In [ ]:
# comapre and see if x is Not equall to z
# can use '!=' symbol
x != z

True

In [ ]:
# compare if 108 is equall to 108, 21 is equall to 21 using logical and
# equall to => '=='
# logical and => and

# in and both condition must be True to get a True
(108 == 108)and(21==21)

True

In [ ]:
# make variable with value as : money 100000

# see output of money > 2000
money = 100000
money > 2000

True

In [42]:
# assign money variable value of 10000
##### say you have this much ammount in your account

# start of if condition
# if money is greater then 1000 which is data science course free
# if money > 1000 is false i.e. you have less money then 1000 in your account then else will work for now only if is working
money = 10000
print("money in account=")
print(money)

money in account=
10000

In [45]:
if(money>1000):
 print("data science course is free")
else:
 print("you have less money than 1000 in your account will work for now only")

data science course is free

In [51]:
# take a test_score variable with 80 in it.

# if test_score greater then 80 then print A grade
# elif test_score greater then 60 and less then 80 print B grade
# else print Nothing for you
test_score = 80
if(test_score >= 80):
  print("A grade")
elif(test_score > 60 and test_score < 80):
  print("B grade")
else:
  print("Nothing for you")

A grade

In [52]:
for iterating_variable in range(10):
    print(iterating_variable)

0
1
2
3
4
5
6
7
8
9

In [53]:
# print 'I love sports' 10 times using for loop

In [56]:


for i in range(10):
    print('I love sports')

I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports

In [57]:
# while loop

# save 0 in variable number

# print till 10 using while loop
# Set the initial value of the counter
counter = 0

# Loop while the counter is less than or equal to 10
while counter <= 10:
    print(counter)
    counter += 1  # Increment the counter by 1 in each iteration

0
1
2
3
4
5
6
7
8
9
10

In [58]:
# example that uses break statement in a for loop

# take range(10) and print 'The number is' + value
# break when num equals 5
for num in range(10):
    print('The number is', num)
    if num == 5:
        break

The number is 0
The number is 1
The number is 2
The number is 3
The number is 4
The number is 5

In [63]:
# Using same `for loop program` as in Break Statement section above
# Use a continue statement rather than a break statement

# take range(10) and print 'The number is' + value
# continue when num equals 5
for num in range(10):
    if num > 5:
        continue
    print('The number is', num)

The number is 0
The number is 1
The number is 2
The number is 3
The number is 4
The number is 5

In [66]:
# define a string variable with "We are creating next generation data science eco-system at CollegeRanker"
a = "We are creating next generation data science eco-system at CollegeRanker"

In [67]:
len(a)

72

In [69]:
#Access characters in a string with indexing i.e string[0]
a[0]

'W'

In [70]:
# Access characters with negative indexing i.e string[-1]
a[-1]

'r'

In [73]:
# select string from first to 6th element i.e string[:6]
substring = a[:6]
print(substring)

We are

In [74]:
# select string from 7th to negative 10th element i.e string[7:-10]
print(a[7:-10])

creating next generation data science eco-system at Col

In [76]:
# .find() => if present it will return starting index, not found then it will return -1
# Define a string
my_string = "Hello, world!"

# Find the index of substring "world" within my_string
index = my_string.find("world")

# Check if substring found or not
if index != -1:
    print("Substring found at index:", index)
else:
    print("Substring not found:")

Substring found at index: 7

In [77]:
# .index() => if present it will return starting index, not found then it will give error
# Define a string
my_string = "Hello, world!"

try:
    # Find the index of substring "world" within my_string
    index = my_string.index("world")
    print("Substring found at index:", index)
except ValueError:
    print("Substring not found")

Substring found at index: 7

In [81]:
# Define your string
my_string = "Hello, World!"

# Convert the string to uppercase
uppercase_string = my_string.upper()

# Print the result
print(uppercase_string)

HELLO, WORLD!

In [84]:
### Checking if string is in lower case or upper case
# Define your string
my_string = "hello, world!"

# Check if the string is in uppercase
is_uppercase = my_string.isupper()

# Check if the string is in lowercase
is_lowercase = my_string.islower()

# Print the results
print(f"The string is in uppercase: {is_uppercase}")
print(f"The string is in lowercase: {is_lowercase}")

The string is in uppercase: False
The string is in lowercase: True

In [85]:
### Checking if string is digit, alpabetic, alpha-numeric
# Define your string
my_string = "Hello123"

# Check if the string is composed of digits
is_digit = my_string.isdigit()

# Check if the string is composed of alphabetic characters
is_alpha = my_string.isalpha()

# Check if the string is composed of alphanumeric characters
is_alnum = my_string.isalnum()

# Print the results
print(f"The string is composed of digits only: {is_digit}")
print(f"The string is composed of alphabetic characters only: {is_alpha}")
print(f"The string is composed of alphanumeric characters: {is_alnum}")

The string is composed of digits only: False
The string is composed of alphabetic characters only: False
The string is composed of alphanumeric characters: True

In [86]:
# assign "C++ is easy to learn" to a new_str variable
# Assign the string to the variable
new_str = "C++ is easy to learn"

# Print the variable to verify the assignment
print(new_str)

C++ is easy to learn

In [87]:
### Replace C++ with Python
# Assign the original string to the variable
new_str = "C++ is easy to learn"

# Replace "C++" with "Python"
new_str = new_str.replace("C++", "Python")

# Print the new string to verify the replacement
print(new_str)

Python is easy to learn

In [88]:
### Use Split function on new_str ###
# Assign the original string to the variable
new_str = "C++ is easy to learn"

# Replace "C++" with "Python"
new_str = new_str.replace("C++", "Python")

# Use the split function to split the string into a list of words
split_str = new_str.split()

# Print the list to verify the split
print(split_str)

['Python', 'is', 'easy', 'to', 'learn']

In [89]:
# define a function with welcome_message(name) and body 'Welcome to Functions !!!'
# Define the function
def welcome_message(name):
    # Print the welcome message
    print("Welcome to Functions !!!")

# Call the function with a sample name to verify
welcome_message("Alice")

Welcome to Functions !!!

In [90]:
# call a function with your name
welcome_message("shree")

Welcome to Functions !!!

In [91]:
## Create subtraction_function(small_number,large_number) and return difference between large_number and small_number

In [92]:
# Define the function
def subtraction_function(small_number, large_number):
    # Calculate the difference
    difference = large_number - small_number
    # Return the difference
    return difference

# Call the function with sample numbers to verify
result = subtraction_function(5, 15)
print(result)  # This should print 10

10

In [93]:
#Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # accessing variable which is outside of this function
    return global_variable

In [95]:
print(random_function())
print(global_variable)

variable outside of function
variable outside of function

In [97]:
#Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # changing value of global variable from inside of the function
    local_variable = 'changing variable inside of function'
    # accessing variable which is outside of this function
    return local_variable

In [98]:
print(random_function())
print(global_variable)

changing variable inside of function
variable outside of function